@use "01-helpers/index" as *;

h1{
    color: $deku-green;
    font-size: xx-large;
    font: $main-font;
}

h2 {
    color: $kombu-green;
    font-size: large;
}

h3 {
    color: $middle-grey;
    font-size: medium;
}

h4 {
    color: $black;
    font-size: small;
}

h5{
    color: $black-2;
    font-size: smaller;
}

h6 {
    color: $deku-green;
    font-size: x-small;
    font-style: italic;
}