cryptography
fastapi[all] >= 0.77.0
passlib[bcrypt]
pydantic >= 1.9.0
pydantic[email]
python-jose[cryptography]
python-multipart
uvicorn[standard]
motor
python-dotenv
python-decouple
pyparsing
pymongo
beanie
cookies-next
bcrypt