.api-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  align-items: flex-start;
  padding: 20px;

  .current-api-keys,
  .new-key__section {
    width: 100%;
  }

  .new-key__section {
    max-width: 400px;
  }
  
  
  // Tablet Viewports
  @media (min-width: 641px) {
    .current-api-keys{
      max-width: 800px;
    }

    .new-key__section {
      display: flex;
      flex-direction: column;
      max-width: 600px;
    }
  }

  // Desktop Viewports
  @media (min-width: 1025px) {
    .current-api-keys{
      max-width: 800px;
    }
    .new-key__section {
      max-width: 600px;
    }
  }
}
  