@use '../01-helpers/index' as *;

//https://codepen.io/kjbrum/details/wBBLXx
[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    @include size(100%, $btn-height);
    width: $btn-width;
    max-width: $btn-width;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: white;
    z-index: 1;
}

.btn {
    display: block;
    text-align: center;
    justify-self: center;
    border-radius: 4px;
    width: 100%;
    padding: 8px 0;
    background-color: var(--deku-green);
    border: 1px solid var(--deku-green);
    color: whitesmoke;
    cursor: pointer;

    &:hover{
        background-color: red;
    }
}

.btn.active {
    background-color: blue;

    &:hover {
        background-color:purple
    }
}

.btn-main {
    @include animatedButton($chosenColor: $deku-green);
}

.btn-secondary {
    @include animatedButton($chosenColor: $middle-grey)
}