@use '../01-helpers/index' as *;

//https://codepen.io/kjbrum/details/wBBLXx
[class^="btn-"] {
    position: relative;
    display: block;
    overflow: hidden;
    @include size(100%, $btn-height);
    width: $btn-width;
    max-width: $btn-width;
    margin: 1rem auto;
    text-transform: uppercase;
    border: 1px solid currentColor;
    background-color: white;
    z-index: 1;
}

.btn {
    @include regularButton($padding: 40px 0, $fontSize: 20px)
}

.btn.active {
    background-color: blue;

    &:hover {
        background-color:black
    }
}

.btn-main {
    @include animatedDotButton($chosenColor: $deku-green);
}

.btn-secondary {
    @include animatedDotButton($chosenColor: $middle-grey)
}

.btnSubmit {
    @include regularButton
}

.btnCancel {
    @include regularButton($backColor: red, $hoverBackColor: orange)
}


//Toggle Buttons using Framer Motion
.switch {
    width: 40px;
    height: 20px;
    border-radius: 100px;
    border: 0;
    padding: 5px;
    display: flex;
    cursor: pointer;
  }
  
.switch.active {
    background-color: #22cc88;
    justify-content: flex-end;
}

.switch.inactive {
    background-color: #dddddd;
    justify-content: flex-start;
}

.switch div,.switch button {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 100px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.02);
}