.dialog {

    &__form {
        display: grid;
        grid-template: 1fr / 50%;
        row-gap: 25px;
    }

    &__fillable {
        grid-column: 1 / 3;
        display: flex;
        flex-direction: column;
        row-gap: 15px;

    }

    &__input, &__label {
        color: black;
    }

    &__cancel {
        width: 95%;
        justify-self: flex-start;
    }

    &__submit {
        width: 95%;
        justify-self: flex-end;
    }

}