//Buttons
//-------------------------------------------------------------
$btn-width: 150px !default;
$btn-height: 50px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-75: $btn-full*0.75 !default;
$btn-half: $btn-full/2 !default;


// Fonts
//-------------------------------------------------------------
/* font-size -2: 12.50px → 14.08px */
$font-size--2: clamp(0.78rem, calc(0.75rem + 0.17vw), 0.88rem);

/* font-size -1: 15.00px → 17.60px */
$font-size--1: clamp(0.94rem, calc(0.88rem + 0.28vw), 1.10rem);

/* font-size 0: 18.00px → 22.00px */
$font-size-0: clamp(1.13rem, calc(1.04rem + 0.43vw), 1.38rem);

/* font-size 1: 21.60px → 27.50px */
$font-size-1: clamp(1.35rem, calc(1.22rem + 0.64vw), 1.72rem);

/* font-size 2: 25.92px → 34.38px */
$font-size-2: clamp(1.62rem, calc(1.44rem + 0.92vw), 2.15rem);

/* font-size 3: 31.10px → 42.97px */
$font-size-3: clamp(1.94rem, calc(1.69rem + 1.29vw), 2.69rem);

/* font-size 4: 37.32px → 53.71px */
$font-size-4: clamp(2.33rem, calc(1.98rem + 1.78vw), 3.36rem);

/* font-size 5: 44.79px → 67.14px */
$font-size-5: clamp(2.80rem, calc(2.31rem + 2.43vw), 4.20rem);



//Positions
//---------------------------------------------------------------
$position-default: null !default;


//Cards
//---------------------------------------------------------------
/* Card widths */
$card-sm: 400px;
$card-reg: 450px;


//Viewports
//-------------------------------------------------------------
/* Tablet | 768px - 1023px */
$min-tablet-width: 768px;

/* Desktop | 1024 */
$min-desktop-width: 1024px;

/* Card Special Viewports */
$min-card-width: calc($card-sm * 2 + 60px);

