@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');
:root{
  --middle-grey: #8C7F75ff;
  --kombu-green: #304739ff;
  --deku-green: #28625Aff;
  --black: #000000ff;
  --black-2: #000001ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}