@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap');
:root{
  --middle-grey: #8C7F75ff;
  --kombu-green: #304739ff;
  --deku-green: #28625Aff;
  --black: #000000ff;
  --black-2: #000001ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Navbar */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 10vh;
  border: 1px solid red;
}

nav a{
  margin-left: 12px;
}

nav .logo{
  margin-right: auto; 
}


/* Footer */
footer{
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: var(--middle-grey);
  border-top: 1px solid var(--kombu-green);
}


/* 404 page */
.not-found{
  text-align: center;
}

.not-found a{
  color: orangered;
}


/* page loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}